{% extends 'base.html' %}
{%load staticfiles%}
{%block code%}
<div class="row">
    <div class="col-md-12 text-center">
     <h1>Add Jobs</h1>
    </div>
    <div class="col-md-6 mx-auto my-4 p-5" style="box-shadow:0px 0px 20px gray">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token%}
        <div class="form-group">
            <div class="row">
                    <div class="col-md-4 ">
                            <input type="file"  name="pimage">
                        </div>
                <div class="col-md-12 mt-3">
                    <input type="text" class="form-control" placeholder="Job Name" name="pname">
                </div>
                
                <div class="col-md-12 mt-3">
                    <textarea name="desc" class="form-control" placeholder="description"></textarea>
                </div>
                <div class="col-md-3 mt-3">
                        <select name="catg" class="form-control">
                            {%for i in cats%}
                            <option value="{{i.id}}">
                                {{i.c_name}}
                            </option>
                            {% endfor %}
                        </select>    
                    </div>
                <div class="col-md-2 mt-3">
                        <input type="submit" class="btn btn-danger" name="add" value="Add Products">
                    </div>
            </div>
        </div>        
    </form>
    </div>
</div>
{%endblock%}