<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <script src="{% static 'jquery.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <style>
    .ab{
        background: url("{% static 'images/2project.jpg'%}");
        background-size: 100% 100%;
        min-height:500px;
        
        
       }
       .cd{
        background: url("{% static 'images/sign.jpg'%}");
        background-size: 100% 100%;
       
        
        
       }
       #frm{
           opacity: 0.8;
           height: 150px;
       }
    </style>
    
</head>
<body class="bg-secondary">
        
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0">     
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <a href="" class="navbar-brand ">JOBER DESK</i></a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#mymenu">
                        <span class="navbar-toggler-icon "></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mymenu">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item dropdown"><a href="{%url 'hm'%}" class="nav-link">Home</a></li>
                            <li class="nav-item dropdown">
                                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Employers</a>
                                <div class="dropdown-menu">
                                    <a href="{%url 'jb'%}" class="dropdown-item">Add Job</a>
                                    <a href="" class="dropdown-item">Browse Resumes</a>
                                    <a href="" class="dropdown-item">Manage jobs</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="Student.html" class="nav-link dropdown-toggle"
                                    data-toggle="dropdown">Student</a>
                                <div class="dropdown-menu">
                                    <a href="" class="dropdown-item">Job alerts</a>
                                    <a href="{%url 'log'%}" class="dropdown-item">Browse Jobs</a>
                                    <a href="{%url 'res'%}" class="dropdown-item">ADD Resumes</a>
                                </div>
                            </li>
                            {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'signout'%}" class="nav-link">Logout {{user.username}}</a>
                        </li>
                        {% else %}
                            <li class="nav-item dropdown"><a href="" class="nav-link dropdown-toggle"
                                    data-toggle="dropdown">Login</a>
                                <div class="dropdown-menu">
                                    <a href="{%url 'st'%}" class="dropdown-item">For Students</a>
                                    <a href="" class="dropdown-item">For Comapnies</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown"><a href="" class="nav-link dropdown-toggle"
                                data-toggle="dropdown">SignUp</a>
                            <div class="dropdown-menu">
                                <a href="{%url 'studentup'%}" class="dropdown-item">For Students</a>
                                <a href="{%url 'sin'%}" class="dropdown-item">For Comapnies</a>
                            </div>
                        </li>
                            {% endif %}
                            <li class="nav-item">
                                    <a href="{% url 'dash'%}" class="nav-link">DashBoard</a>
                                </li>
                        </ul>
                    </div>                   
                </nav> 
               </div>
           
        </div>
    </div>
    {% block code %}
    {% endblock %}
</body>

</html>