{% extends 'base.html'%}
{% block code %}
{% load staticfiles%}


            <!-- <form class="px-5 pb-5 " id="frm">
    <input class="col-md-3 float-left" type="text" placeholder="Skills,Designation,companies">
     <input class="col-md-3 float-left" type="text" placeholder="Experience">
    <input class="col-md-3 float-left"type="text" placeholder="Select Ctegoey">
    <button class="col-md-2 float-left">Submit</button> -->
    <div >
    <h1 class="pl-5 pt-5 text-dark ab">Build Your Career</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 mx-5 my-5">
            <h2>Create an Account</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusamus quisquam voluptatem
                provident vero, ea fugiat est obcaecati, nemo recusandae molestias cupiditate facere
                aliquid, exercitationem hic aspernatur magnam nam placeat.</p>
        </div>
        <div class="col-md-3 mx-5 my-5">
            <h2>Search Desired Job</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusamus quisquam voluptatem
                provident vero, ea fugiat est obcaecati, nemo recusandae molestias cupiditate facere
                aliquid, exercitationem hic aspernatur magnam nam placeat.</p>
        </div>
        <div class="col-md-3 mx-5 my-5">
            <h2>Send Your Resume</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusamus quisquam voluptatem
                provident vero, ea fugiat est obcaecati, nemo recusandae molestias cupiditate facere
                aliquid, exercitationem hic aspernatur magnam nam placeat.</p>
        </div>
        <div class="col-md-3 mx-5 my-5">
            <h2>Send Your Resume</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusamus quisquam voluptatem
                provident vero, ea fugiat est obcaecati, nemo recusandae molestias cupiditate facere
                aliquid, exercitationem hic aspernatur magnam nam placeat.</p>
        </div>
        <div class="col-md-3 mx-5 my-5">
            <h2>Send Your Resume</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusamus quisquam voluptatem
                provident vero, ea fugiat est obcaecati, nemo recusandae molestias cupiditate facere
                aliquid, exercitationem hic aspernatur magnam nam placeat.</p>
        </div>
        <div class="col-md-3 mx-5 my-5">
            <h2>Send Your Resume</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusamus quisquam voluptatem
                provident vero, ea fugiat est obcaecati, nemo recusandae molestias cupiditate facere
                aliquid, exercitationem hic aspernatur magnam nam placeat.</p>
        </div>
    </div>

</div>
{% endblock %}