{% extends 'base.html' %}
{% load staticfiles %}

    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <a href="" class="navbar-brand ">JOBER DESK</i></a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#mymenu">
                        <span class="navbar-toggler-icon "></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mymenu">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item dropdown"><a href="Home.html" class="nav-link">Home</a></li>
                            <li class="nav-item dropdown">
                                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Employers</a>
                                <div class="dropdown-menu">
                                    <a href="" class="dropdown-item">Add Job</a>
                                    <a href="" class="dropdown-item">Browse Resumes</a>
                                    <a href="" class="dropdown-item">Manage jobs</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="Student.html" class="nav-link dropdown-toggle" data-toggle="dropdown">Student</a>
                                <div class="dropdown-menu">
                                    <a href="" class="dropdown-item">Job alerts</a>
                                    <a href="" class="dropdown-item">Browse Jobs</a>
                                    <a href="" class="dropdown-item">Manage Resumes</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown"><a href="" class="nav-link dropdown-toggle"
                                    data-toggle="dropdown">Login</a>
                                <div class="dropdown-menu">
                                    <a href="Student.html" class="dropdown-item">For Students</a>
                                    <a href="" class="dropdown-item">For Comapnies</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav> -->
            
    
    {% block code %}
    <div class="container-fluid cd"style="height: 730px;">
        <div class="row ">
            <div class="col-md-12">
                {% for i in p %}
                <div class="col-md-6 bg-white"style="opacity: 0.5;">
                    <div class="p-4 m-4" style="box-shadow: 0px 0px 20px white" >
                    <img src="/media/{{i.image}}"height="200px",width="100%">
                    <h2>{{i.name}}</h2>
                    <p>{{i.description}}</p>
                    </div>
                </div>
                {% endfor %}
                 <!-- <div class="col-md-12 row job-list">
                    <div class="image">
                        <a href="">
                            <img src="googlelogo.jpg">
                        </a>
                     </div>
        <div class="col-md-8 mt-5 ml-5  job-list-content">
            <h4>
                <a href="">We need a web designer</a>
                    <span class="full-time bg-primary">Full-time</span>
            </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet sapiente, tenetur ab perspiciatis rem sit, facilis totam sunt ex numquam alias! Totam maiores, ipsaadipisci ipsum sed dolores nisi perferendis?</p>
        <div class="job-tag">
            <div class="pull-left">
                <span>
                     <a href="">
                        <i class="fas fa-map-marker-alt"></i> Mohali,Punjab </a>
                             </span>
                                <span>
                                    <a href="">
                                        <i class="fas fa-clock"></i>
                                                 60/hr
                                    </a>
                                </span>
                                    </div>
                                        <div class="pull-right">
                                            <span>
                                                 <i class="far fa-heart"></i>
                                </span>
                                    <div class="btn">
                                                <button class="btn-danger form-control" type="submit">Apply Job</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-12 row job-list">
                                        <div class="image">
                                            <a href="">
                                                <img src="microsoft.jpg">
                                            </a>
                                        </div>
                                        <div class="col-md-8 ml-5 mt-5 job-list-content">
                                            <h4>
                                                <a href="">We need a web designer</a>
                                                <span class="full-time bg-primary">Full-time</span>
                                            </h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet sapiente, tenetur ab
                                                perspiciatis rem sit, facilis totam sunt ex numquam alias! Totam maiores, ipsa
                                                adipisci ipsum sed dolores nisi perferendis?</p>
                                            <div class="job-tag">
                                                <div class="pull-left">
                                                    <span>
                                                        <a href="">
                                                            <i class="fas fa-map-marker-alt"></i>
                                                            Mohali,Punjab
                                                        </a>
                                                    </span>
                                                    <span>
                                                        <a href="">
                                                            <i class="fas fa-clock"></i>
                                                            60/hr
                                                        </a>
                                                    </span>
                                                </div>
                                                <div class="pull-right">
                                                    <span>
                                    
                                                        <i class="far fa-heart"></i>
                                    
                                    
                                                    </span>
                                    
                                                    <div class="btn">
                                                        <button class="btn-danger form-control" type="submit">Apply Job</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                                <div class="col-md-12">
                                    <div class="col-md-12 row job-list">
                                        <div class="image">
                                            <a href="">
                                                <img src="amazon.jpg">
                                            </a>
                                        </div>
                                        <div class="col-md-8 ml-5 mt-5 job-list-content">
                                            <h4>
                                                <a href="">We need a web designer</a>
                                                <span class="full-time bg-primary">Full-time</span>
                                            </h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet sapiente, tenetur ab
                                                perspiciatis rem sit, facilis totam sunt ex numquam alias! Totam maiores, ipsa
                                                adipisci ipsum sed dolores nisi perferendis?</p>
                                            <div class="job-tag">
                                                <div class="pull-left">
                                                    <span>
                                                        <a href="">
                                                            <i class="fas fa-map-marker-alt"></i>
                                                            Mohali,Punjab
                                                        </a>
                                                    </span>
                                                    <span>
                                                        <a href="">
                                                            <i class="fas fa-clock"></i>
                                                            60/hr
                                                        </a>
                                                    </span>
                                                </div>
                                                <div class="pull-right">
                                                    <span>
                                    
                                                        <i class="far fa-heart"></i>
                                    
                                    
                                                    </span>
                                    
                                                    <div class="btn">
                                                        <button class="btn-danger form-control" type="submit">Apply Job</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                                    </div>
                                    <div class="col-md-12">
                                    <div class="col-md-12 row job-list">
                                        
                                        <div class="image">
                                            <a href="">
                                                <img src="tcslogo.jpg">
                                            </a>
                                        </div>
                                        <div class="col-md-8 ml-5 mt-5 job-list-content">
                                            <h4>
                                                <a href="">We need a web designer</a>
                                                <span class="full-time bg-primary">Full-time</span>
                                            </h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet sapiente, tenetur ab
                                                perspiciatis rem sit, facilis totam sunt ex numquam alias! Totam maiores, ipsa
                                                adipisci ipsum sed dolores nisi perferendis?</p>
                                            <div class="job-tag">
                                                <div class="pull-left">
                                                    <span>
                                                        <a href="">
                                                            <i class="fas fa-map-marker-alt"></i>
                                                            Mohali,Punjab
                                                        </a>
                                                    </span>
                                                    <span>
                                                        <a href="">
                                                            <i class="fas fa-clock"></i>
                                                            60/hr
                                                        </a>
                                                    </span>
                                                </div>
                                                <div class="pull-right">
                                                    <span>
                                    
                                                        <i class="far fa-heart"></i>
                                    
                                    
                                                    </span>
                                    
                                                    <div class="btn">
                                                        <button class="btn-danger form-control" type="submit">Apply Job</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    </div>
                                    </div>
                                
                            </div>
                                    
                                    {% endblock %}
                                    