{% extends 'base.html' %}
{%load staticfiles%}
{%block code%}
<div class="row">
    <div class="col-md-8 my-5 p-3 mx-auto shadow shadow-lg text-light">
        <form action="" method="post" enctype="multipart/form-data">
            <h4 id="rs"></h4>
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="">First Name</label>
                        <input type="text" class="form-control" name="first">
                    </div>
                    <div class="col-md-6">
                        <label for="">Last Name</label>
                        <input type="text" class="form-control" name="second">
                    </div>
                </div>
            </div>
            <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Username</label>
                            <input type="text" class="form-control" name="um"id="username" onkeyup="checkUser()" >
                        </div>
                        <div class="col-md-6">
                            <label for="">Email</label>
                            <input type="text" class="form-control" name="eml">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Password</label>
                            <input type="text" class="form-control" name="pass">
                        </div>
                        <div class="col-md-6">
                            <label for="">Confirm Password</label>
                            <input type="text" class="form-control" name="cpass">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Contact</label>
                            <input type="number" class="form-control" name="cont">
                        </div>
                        <div class="col-md-6">
                            <label for="">Profile Pic</label>
                            <input type="file" class="form-control" name="pic">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success"value="Sign Up"id="sign">
                </div>
            </form>
        </div>
    </div>
  <script>
            function checkUser(){
                let un = $('#username').val();
                $.ajax({
                    url:'{% url "check" %}',
                    type:'get',
                    data:{usern:um},
                    success:function(data){
                        if(data==1){
                            $('#rs').html("Already Exist").addClass('alert alert-danger');
                            $('#sign').attr('disabled','disabled');
                        }else{
                            $('#rs').html(" ").removeClass('alert alert-danger'); 
                            $('#sign').removeAttr('disabled');         
                        }
                    }
                });
            }
        </script> 
{%endblock%}