<!DOCTYPE html>
{% extends 'base.html'%}
{% load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <script src="{% static 'jquery.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <style>
        input{
            opacity: 0.8;
        }
    </style>
</head>
<body>
                {% block code %}
               <div class="container-fluid ab"style="height: 730px;">
                <div class="row">
                <div class=" col-md-12">
                    <div class="outer">
                        <div class="col-md-3 inner">
    
                            <form class="form-group mt-5" method="POST">
                                {% csrf_token %}
                                {% if status %}
                                <p class="alert alert-danger">{{status}}</p>
                                {% endif %}
                                <h1 class="text-center bg-muted">Sign In</h1>
                                <input class="form-control mt-3 " type="text" placeholder="username"name="usern">
                                <input class="form-control mt-3  " type="text" placeholder="password"name="pass">
                                <label class="mt-2 "> <a class="text-danger" href="">Forget Password?</a></label><br />
                                <button type="submit" class="btn form-control btn-primary mt-1">
                                    <i class="fas fa-sign-out-alt"></i>Login</button>
                                <p class="mt-1">Don't Have Account?
                                    <a class="text-danger" href="{%url 'sin'%}">Create an
                                        Account</a>
                                </p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                            </form>
                        </div>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
   
                
    </body>
    
    </html>